html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}

body
{
    overflow: hidden;
    background-color: #160a0f;
    font-family: 'Gloria Hallelujah', cursive;  
    font-size: 14px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;    
}

#footer
{
    position: absolute;
    bottom: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: white;
}

a
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: yellow;
}

#canvas,#c
{
    position: absolute;
    top:0;
    left:0;
}

#canvas
{
    display: none;
}